<div class="container col-md-4 col-md-offset-4 vertical-center">
<% event %>

<form method="POST" action="/auth/profile/events/<%=event.id%>/edit?_method=PUT">
  <h3>Edit Event</h3>
  <div class="form-group">
    <label for="startDate">Date/Time</label>
    <input type="datetime-local" name="startDate" value="<%= event.startDate %>">
  </div>
  <div class="form-group">
    <label for="eventName">Event Name</label>
    <input type="text" name="eventName" value="<%= event.eventName%>">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" name="description" value="<%= event.description%>">
  </div>
  <div class="form-group">
    <label for="typeOfEvent">Type of Event</label>
    <input type="text" name="typeOfEvent" value="<%= event.typeOfEvent%>">
  </div>
  <div class="form-group">
    <label for="location">Location</label>
    <input type="text" name="location" value="<%= event.location%>">
  </div>
  <div class="form-group">
    <label for="numberOfSpots">Available Spots</label>
    <input type="text" name="numberOfSpots" value="<%= event.numberOfSpots%>">
  </div>
  <div class="form-group">
    <label for="contact">Contact</label>
    <input type="text" name="contact" value="<%= event.contact%>">
  </div>
  <button type="submit" name="button" class="btn btn-default ">Submit</button>

</form>
</div>
