  <div class="container moveDown">
    <h2 id='greeting'>Welcome, <%- user.name %>!</h2>
    <% addFile2 %>
    <% user %>
    <div id="profileDiv">
      <div class="col-md-2 pull-md-10">
        <% if(user.image){ %>
          <img src='<%= user.image %>' style='height:180px;width:180px'; />
          <% } %>
        </div>
        <div class="col-md-10 push-md-2">
          <% if(user.contact){ %>
            <li class='list-group-item text-left'>Contact:  <%= user.contact %></li>
            </ul>
            <% } %>
            <% if(user.aboutme){ %>
              <li class='list-group-item text-left'>About Me:  <%= user.aboutme %></li>
              <% } %>
            </div>
          </div>


          <table class="table table-hover text-center" id='tableAddFiles'>
            <% if(addFile2.length > 0) { %>
              <thead>
              <tr>
              <th class='text-center'>Files</th>
              <th class='text-center'>Title</th>
              <th class='text-center'>Description</th>
              <th></th>
              </tr>
              </thead>
              <tbody>
              <% addFile2.forEach(function (item) {%>
                <tr>
                <td><video controls>
                <a href = "auth/profile/video/<%= item.id %>"></a>
                <source src = "<%= item.addFileProperties %>" type = 'video/mp4'>
                </video>
                </td>
                <td>
                <%= item.title %>
                </td>
                <td>
                <%= item.description %>
                </td>
                <td>
                <form method="POST" action="/auth/profile/<%= item.id%>?_method=DELETE">
                <button type="submit" value="Delete" class = 'btn btn-default'>Delete</button>
              </form>
            </td>
          </tr>
          <% }) %>
          <% } %>
        </tbody>
      </table>

        <form enctype='multipart/form-data' action='/auth/profile' method='POST' id='uploadFilesForm'>
          <h4>Upload your files here</h4>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" value="">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" name="description" value="">
          </div>
          <input type='file' class='form-control-file' name='myFile'>
          <input type='submit' class='btn btn-default'>
        </form>
      </div>
  </div>
