  <% event %>
  <div class="container moveDownLess">
    <%- include ./widgets/alerts %>

    <h3 class='pull-left'>All Events</h3>
    <table class='table'>
      <thead>
        <tr>
          <th>Event Name</th>
          <th>Date/Time</th>
          <th>Description</th>
          <th>Available Spots</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% event.forEach(function(eachEvent){ %>
            <tr>
            <td><%= eachEvent.eventName %> </td>
            <td><%= eachEvent.startDate%></td>
            <td><%= eachEvent.description%></td>
            <td><%= eachEvent.numberOfSpots %></td>
            <td><form action="/public/events/event/<%= eachEvent._id%>/joinevent?_method=PUT" method="POST">
            <button type="submit" value="Join this event" class="btn btn-default">Join this event</button>
            </form>
            </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
  </div>
