<div class='container moveDown'>
    <h1>Edit Event</h1>
    <table class='table'>
    <thead>
      <tr>
        <th>Event Date</th>
        <th>Event Name</th>
        <th>Description</th>
        <th>Location</th>
        <th>Number of Spots</th>
        <th>Contact</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% event %>
      <tr>
      <td><%= event.startDate %></td>
      <td><%= event.eventName %></td>
      <td><%= event.description %></td>
      <td><%= event.location %></td>
      <td><%= event.numberOfSpots %></td>
      <td><%= event.contact %></td>
      <tr>
    </tbody>
    </table>

<a href ="/auth/profile/events/<%= event.id%>/edit"<button type="button" class="btn btn-default">Edit event</button></a>

<form method="POST" action="/auth/profile/events/<%= event.id%>?_method=DELETE">
<button type="submit" value="Delete" class = 'btn btn-default'>Delete</button>
</form>

</div>
